[submodule "aseba"]
	path = aseba
	url = https://github.com/aseba-community/aseba.git
[submodule "ChibiOS"]
	path = ChibiOS
	url = https://git.wise-robotics.com/epuck2/ChibiOS.git
[submodule "src/chibios-syscalls"]
	path = src/chibios-syscalls
	url = https://github.com/cvra/chibios-syscalls
[submodule "src/cmp"]
	path = src/cmp
	url = https://github.com/cvra/cmp
[submodule "src/cmp_mem_access"]
	path = src/cmp_mem_access
	url = https://github.com/cvra/cmp_mem_access
[submodule "src/crc"]
	path = src/crc
	url = https://github.com/cvra/crc
[submodule "src/parameter"]
	path = src/parameter
	url = https://github.com/cvra/parameter
[submodule "src/test-runner"]
	path = src/test-runner
	url = https://github.com/cvra/test-runner
[submodule "src/msgbus"]
	path = src/msgbus
	url = https://github.com/cvra/msgbus
[submodule "src/serial-datagram"]
	path = src/serial-datagram
	url = https://github.com/cvra/serial-datagram.git
